<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <script src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/socket.io.min.js"></script>
    <script src="static/virtualjoystick.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        console.log("touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");

        var socket = io.connect();
        var joystick	= new VirtualJoystick({
            container	: document.getElementById('container'),
            mouseSupport	: true,
        });
        joystick.addEventListener('touchStart', function(){
            console.log('down');
        })
        joystick.addEventListener('touchEnd', function(){
            console.log('up');
        })

        setInterval(function(){
            var dx = joystick.deltaX();
            var dy = joystick.deltaY();

            dx = -dx; // somehow the steering is backwards
            dx *= 0.1;
            dx += {{neu_steering}};

            dy = -dy; // damn upside-down computer screens
            dy *= 0.1;
            dy += {{neu_throttle}};

            socket.emit(
                    'value changed',
                    {
                        steering: dx,
                        throttle: dy
                    });
        }, 1/15 * 1000);

        socket.on('connect', function() {
            socket.emit('connected', {data: 'I\'m connected!'});
        });

        $("#reset").on('click', function (){
            $("#steering").val({{neu_steering}});
            $("#throttle").val({{neu_throttle}});
            socket.emit(
                    'value changed',
                    {
                        steering: $("#steering").val(),
                        throttle: $("#throttle").val()
                    });
            return false;
        });

    });
    </script>

    <style>
    body {
        overflow	: hidden;
        padding		: 0;
        margin		: 0;
       /* background-color: #BBB;*/
        background-color:rgba(0,0,0,0.0);
    }
    #container {
        width		: 100%;
        height		: 100%;
        overflow	: hidden;
        padding		: 0;
        margin		: 0;
        -webkit-user-select	: none;
        -moz-user-select	: none;
    }
    #stream {
       /* display: block;
        margin: 0 auto;*/
        width  : 100%;
        height : auto;
    }
    </style>
</head>
<body>
    <div id="container">
        <!-- here's the url for the video -->
        <img src="http://10.151.12.89:9090/stream/video.mjpeg" id="stream">
    </div>
</body>
</html>
